goodreads/.ipynb_checkpoints
.DS_Store
reco_engine/.ipynb_checkpoints/Recommendations_with_IBM-checkpoint.ipynb
reco_engine/__pycache__/project_tests.cpython-37.pyc
reco_engine/Recommendations_with_IBM.html
reco_engine/Recommendations_with_IBM.html
